body
{
    margin:0;
    min-height:100vh;

    font-family: "Arial", sans-serif;
    color: white;
    background-image: -webkit-linear-gradient(bottom left, #FFFFFF 0%, #ff6600 90%);
    background-image: -moz-linear-gradient(bottom left, #FFFFFF 0%, #ff6600 90%);
}

#title-bar
{
    background-color:#822;
    color:white;
}

img#logo
{
	width:6em;
	height:6em;
}

span#title
{
	font-size:2.8em;
	font-weight:bold;
	color:white;
}

#menu-bar
{
	background-image:linear-gradient(to top,#822, #622);
    text-align:right;
    background-color:#822;
    color:white;
}

img#menu-icon
{
	height:1.5em;
	width:1.5em;
}

img#logo
{
	width:6em;
	height:6em;
}

/* ---------------------------------------- */

div#main-container
{
    position: relative;
	top: 25%;
	text-align: center;
	letter-spacing: 2px;
}

h2#h2-001 {
	letter-spacing: 0px;
	font-style: italic;
}

h1#h1-001, h2#h2-001
{
    text-shadow: 2px 2px 2px black;
}