body { /* meglio non definire uno stile che verrà applicato a tutti i tag di un determinato tipo, è preferibile associare un id all'elemento */
    margin:0;
    font-family:arial; /* la definizione del font non è corretta. Perchè? vedere la definizione alla riga 72 di index.css */

    display:grid;
        grid-template-columns:1fr;
        grid-template-rows:1.5fr 10fr;
    height:100vh;
}

body { /* meglio non definire uno stile che verrà applicato a tutti i tag di un determinato tipo, è preferibile associare un id all'elemento */
    background-image: -webkit-linear-gradient(bottom left, #FFFFFF 0%, #ff6600 90%);
}

h1 { /* meglio non definire uno stile che verrà applicato a tutti i tag di un determinato tipo, è preferibile associare un id all'elemento */
    font-family: "Arial", sans-serif;
    color: white;
    position: relative;  /* perchè? cosa si vuole ottenere? in index.css questo "stile" è applicato al contenitore e non al contenuto */
    top: 30%;            /* perchè? cosa si vuole ottenere? in index.css questo "stile" è applicato al contenitore e non al contenuto */
    text-align: center;
    letter-spacing: 2px;
}
