body
{
    margin:0;
    font-family:arial;

    display:grid;
        grid-template-columns:1fr;
        grid-template-rows:1.5fr 10fr;
    height:100vh;
   
}

main {
    background-image: -webkit-linear-gradient(bottom left, #FFFFFF 0%, #ff6600 90%);
    font-family: "Arial", sans-serif;
    color:black;
}

h3{  
    position: relative;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    letter-spacing: 2px;
}

form {
    background-color: rgba(255, 215, 188, 0.877);
    width: 400px;
    height: 300px;
    position: relative;
    margin: 0 auto;
    padding-top: 5px;
    border-radius: 5%;
    box-shadow: 5px 5px 20px #882222;
}

table{
    position: relative;
    padding: 35px;
    margin: auto;
}

td {
    padding: 6px;
}

input[type~="text"], input[type~="password"],  input[type~="date"]{
    width: 140px;
    box-shadow: 3px 3px 10px #882222;
    border-radius: 5px;
}

input[type~="Submit"]{
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 30px;
    border-radius: 8px;
    color:white;
    background-color: #882222;
    font-size: 1em;
}