body { 
    margin:0;
    font-family:"Arial", sans-serif; 
    display:grid;
        grid-template-columns:1fr;
        grid-template-rows:1.5fr 10fr;
    height:100vh;
}

main { 
    background-image: -webkit-linear-gradient(bottom left, #FFFFFF 0%, #ff6600 90%);
}

h3#titolo_form { 
    font-family: "Arial", sans-serif;
    color:black;
    position: relative;
    text-align: center;
    padding-top: 20px;
    letter-spacing: 2px;
}

div#box {
    font-family: "Arial", sans-serif;
    color:black;
    background-color: rgba(255, 215, 188, 0.877);
    width: 400px;
    position: relative;
    margin: 0 auto;
    margin-top: 50px;
    padding-top: 5px;
    border-radius: 5%;
    box-shadow: 5px 5px 20px #882222;
}

table#registrazione { 
    position: relative;
    padding-top: 5px;
    padding-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
}

table#registrazione tr td.label {
    padding: 5px;
}

table#registrazione tr td.label input.campi{
    border-radius: 5px;
    box-shadow: 5px 5px 10px #882222;
    width: 140px;
}

#bottone {
    padding-top: 20px;
    margin-bottom: 50px;
}

#submit { 
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 30px;
    border-radius: 8px;
    color:white;
    background-color: #882222;
    font-size: 1em;
}
