body
{
    margin:0;
    height:100vh;
    background-image: -webkit-linear-gradient(bottom left, #FFFFFF 0%, #ff6600 90%);
	font-family: "Arial", sans-serif;
    color: white;
}

#title-bar
{
    background-color:#822;
    color:white;
}

img#logo
{
	width:6em;
	height:6em;
}

span#title
{
	font-size:2.8em;
	font-weight:bold;
	color:white;
}

#menu-bar
{
	background-image:linear-gradient(to top,#822, #622);
    text-align:right;
    background-color:#822;
    color:white;
}

img#menu-icon
{
	height:1.5em;
	width:1.5em;
}

img#logo
{
	width:6em;
	height:6em;
}


/*TABELLA---------------------------------------------------*/

table.tabellasearch, th.intestazione, td.valori {
border: 3px solid #882222;
text-align: center;
font-family: "Arial", sans-serif;
color:black;

}

tr{
  border: 3px solid #882222;  
}
td.valori{
background-color: rgba(255, 215, 188, 0.877);
}


th.intestazione {
background-color: #882222;
color: white;
font-size: 1em;
}

table.tabellasearch{
position: relative;  
top: 30%;            
letter-spacing: 2px;
margin: 0 auto;
box-shadow: 5px 5px 20px #882222;
padding-top: 5px;
border-radius: 8%;

}
